.banner{
  background-image: url("https://images.unsplash.com/photo-1505576391880-b3f9d713dc4f?q=80&w=1870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  height: 120vh;
  background-size: cover;
  background-position: 100% 68%;
}
.overlay{
  position: fixed;
  top: auto;
  left: 0;
  height: 120%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
}

.solgan{
  font-family: 'EB Garamond', serif;
  font-size: 3.7rem;
  color: rgb(0, 0, 0);
  text-align: center;
  padding-top: 9vh;
  padding-bottom: 6vh;
}
.text{
  font-family: 'Abhaya Libre', serif;
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 3vh;
}
.dic-mor-btn{
  font-family: 'Abhaya Libre', serif;
  padding-top: 3vh;
  padding-bottom: 3vh;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
  width: 20vh;
  margin: 0 auto; /* Center the button horizontally */
  display: block; /* Make the button a block-level element */
  align-items: center;
}


.btn-aboutus{
  a{
  font-family: 'Abhaya Libre', serif;
  padding-top: 3vh;
  padding-bottom: 3vh;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
  width: 20vh;
  margin: 0 auto; /* Center the button horizontally */
  display: block; /* Make the button a block-level element */
  align-items: center;
  justify-items: center;
  display: flex;
}
}
