#collection-cards{
  .card{
    width: 400px;
    aspect-ratio: 1/0.7;
    border-radius: 8px;
    position: relative;
  }

  .card .image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
  }

  .card::after{
    content: '';
    position: absolute;
    inset: 0;
    border: 2px solid #fff;
    border-radius: inherit;
    opacity: 0;
    transition: 0.4s ease-in-out;
  }

  .card:hover img{
        filter:
        grayscale(1)
        brightness(0.4);
      }

  .card:hover::after{
    opacity: 1;
    inset: 20px;
  }
  .card:hover .content h2{
    scale: 1;
    opacity: 1;
  }


}

.eth-main-banner__square {
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  background-color: #f8f9fa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.eth-main-banner__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.text-black {
  color: #343a40;
  font-size: 18px;
  margin-bottom: 20px;
}

.eth-main-banner__link {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  background-color: #000000;
  color: #ffffff;
  border-radius: 7px;
  padding: 10px 20px;
  display: inline-block;
}

.eth-main-banner__link:hover {
  border: 1px solid #000000;
  background-color: #ffffff;
}

.text-center {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.text-center .mt-3 {
  width: 400px;
  height: 100%;
  background-color: #EAE9E7;
  display: grid;
  place-items: center;
}
.text-center .info {
  font-size: 20px;
  margin-bottom: 20px;
  height: 100%;
  padding: 125px 0;
}

.text-center img {
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
}

.btn-1{
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  background-color: #000000;
  color: #ffffff;
  border-radius: 7px;
  padding: 10px 20px;
  display: inline-block;
}

.btn-1:hover {
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #000000;
}
