
<div id="chat" class="container">
  <% @chatrooms.each do |chatroom| %>
    <% artisan = User.find(chatroom.artisan_id) %>
    <% last_message = chatroom.messages.last %>
    <%= link_to chatroom_path(chatroom) do %>
      <div class="notification">
        <%= cl_image_tag artisan.photo.key, class: "avatar-large" %>
        <div class="notification-content">
          <p class="text-dark"><%= artisan.first_name  %></p>
          <% if last_message %>
            <p><%= last_message.content %></p>
          <% else %>
            <p>No messages yet.</p>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
