<div class="footer-dark">
<footer>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-3 item">
            <h3>Services</h3>
            <ul>
                <li><a href="#">Hand made items</a></li>
                <li><a href="#">linking intrested people with</a></li>
                <li><a href="#">Hosting</a></li>
            </ul>
        </div>
        <div class="col-sm-6 col-md-3 item">
            <h3>About</h3>
            <ul>
                <li><a href="#">Company</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Careers</a></li>
            </ul>
        </div>
        <div class="col-md-6 item text">
            <a href="https://www.lewagon.com/"><img src="https://d26jy9fbi4q9wx.cloudfront.net/assets/logo-ae2beeecce25d711f577b08deb9adfc6c02b673ed106b8d6c3da0f1721d9da33.svg" alt="Le wagon"></a>
            <a href="https://jobintech.academy/"><img src="https://jobintech.academy/wp-content/uploads/2023/05/cropped-Untitled-design-1-1.png" alt="Jobintech"></a>
            <h3>BAZ'ART</h3>
            <p>Every purchase supports local craftsmen and contributes to the vibrancy of our creative community.
            Join us in celebrating craftsmanship, creativity, and community at Baz'art!</p>
        </div>
        <div class="col item social">
            <a class="bg-white" href="#"><i class="fa-brands fa-facebook"></i></a>
            <a class="bg-white" href="#"><i class="fa-solid fa-x"></i></a>
            <a class="bg-white" href="#"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </div>
    <p class="copyright">BAZ'ART © 2024</p>
</div>
</footer>
</div>
