<style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f8f8f8;
      color: #333;
      margin: 0;
      padding: 0;
    }

    h1, h2 {
      text-align: center;
      margin: 20px 0;
    }

    .about-container {
      text-align: center;
      color: #888;
      padding: 20px;
      background-color: #fff;
      margin: 20px auto;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    h1 {
      font-weight: bold;
      color: #555;
    }

    h2 {
      color: #555;
    }

    /* Team Section Styles */
    .team-container {
      text-align: center;
      padding: 20px;
      background-color: #fff;
      margin: 20px auto;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .team-title {
      font-size: 24px;
      font-weight: bold;
      color: #333;
    }

  .description {
     font-size: 18px;
     color: #333;
     line-height: 1.5em;
     margin: 0 0 1em;
     padding: 1em;
  }
    .team-member {
      margin-top: 20px;
    }

    .team-image img {
      width: 80px;
     height: 80px;
      border-radius: 50%;
    }

    .content h4 {
      margin: 10px 0 5px;
      font-size: 18px;
      font-weight: bold;
      color: #333;
    }

    .content span {
      font-size: 14px;
      color: #888;
    }

    .social {
      list-style: none;
      padding: 0;
      margin: 10px 0 0;
    }

    .social li {
      display: inline-block;
      margin-right: 5px;
    }

    .social a {
      display: block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #007bff;
      text-align: center;
      line-height: 30px;
      color: #fff;
    }
   .partners-section {
    text-align: center;
    margin: 20px auto;
  }

  .partner {
    margin-bottom: 30px;
  }

  .partner img {
    max-width: 200px;
    height: auto;
  }

  .welcome{
    text-align: center;
    padding: 20px;
    background-color: #f8f8f8;
    margin: 20px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .partner h3 {
    margin-top: 10px;
    font-size: 1.5rem;
    color: #333;
  }

  .partner p {
    margin-top: 10px;
    font-size: 1rem;
    color: #666;
  }
  </style>

  <div class="about-container">
    <h1>About us</h1>
    <div class="description">_____________________________________________<br><br>
      Baz'art is a platform that showcases the beauty of authentic handmade products from Morocco. It was founded with the goal of providing a global stage for artisans and their creations, emphasizing the cultural narrative behind each handmade piece. The platform celebrates the fusion of tradition and innovation and offers a diverse range of products including metalwork, pottery, leather, and furniture.<br><br>
      Every product on Baz'art has its own unique story, reflecting the company's commitment to quality, authenticity, and timeless beauty. They believe that each handmade creation carries the essence of Moroccan craftsmanship and aims to make every purchase an opportunity to connect with the heart and soul of this rich tradition. By bringing these meaningful objects into your home, you can create a living canvas that embodies the spirit of Moroccan craftsmanship.<br><br>
    </div>
    <h2 class="welcome">Welcome to Baz'art, where the beauty of handmade products is celebrated and cherished.</h2>
  </div>

  <!-- Team Section -->
  <div class="team-container">
    <div class="section-title">
      <h2>Our Team</h2>
<p>Baz'art brings together a diverse and talented team dedicated to showcasing the beauty of handmade products from Morocco. Our passionate artisans and creators work collaboratively, blending tradition with innovation to offer a unique collection of metalwork, pottery, leather, and furniture. Each team member is committed to the values of quality, authenticity, and timeless beauty.</p>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Start Single Team -->
        <div class="team-member">
          <div class="team-image">
            <img src="https://ca.slack-edge.com/T02NE0241-U06A735D2P2-02a878a3af19-192" alt="#">
          </div>
          <div class="content">
            <h4>Ali Mercade <span>Founder</span></h4>
            <ul class="social">
              <li><a href="javascript:void(0)"><i class="fa-brands fa-linkedin"></i></i></a></li>
              <li><a href="javascript:void(0)"><i class="fa-brands fa-github"></i></a></li>
              <li><a href="javascript:void(0)"><i class="fa-brands fa-twitter"></i></i></a></li>
              <li><a href="javascript:void(0)"><i class="fa-solid fa-phone"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End Single Team -->
      </div>
      <!-- Add more team members as needed -->

      <div class="col-lg-3 col-md-6 col-12">
        <!-- Start Single Team -->
        <div class="team-member">
          <div class="team-image">
            <img src="https://ca.slack-edge.com/T02NE0241-U0693N5R44X-7f2adc5f7f11-192" alt="#">
          </div>
          <div class="content">
            <h4>Ihsane Ennaji <span>Founder</span></h4>
            <ul class="social">
              <li><a href="javascript:void(0)"><i class="fa-brands fa-linkedin"></i></i></a></li>
              <li><a href="javascript:void(0)"><i class="fa-brands fa-github"></i></a></li>
              <li><a href="javascript:void(0)"><i class="fa-brands fa-twitter"></i></a></li>
              <li><a href="javascript:void(0)"><i class="fa-solid fa-phone"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End Single Team -->
      </div>
      <!-- Add more team members as needed -->

      <div class="col-lg-3 col-md-6 col-12">
        <!-- Start Single Team -->
        <div class="team-member">
          <div class="team-image">
            <img src="https://ca.slack-edge.com/T02NE0241-U069F9E2WTX-f032a4454756-192" alt="#">
          </div>
          <div class="content">
            <h4>Zakaria Boudhaim <span>Founder</span></h4>
            <ul class="social">
              <li><a href="javascript:void(0)"><i class="fa-brands fa-linkedin"></i></i></a></li>
              <li><a href="javascript:void(0)"><i class="fa-brands fa-github"></i></a></li>
              <li><a href="javascript:void(0)"><i class="fa-brands fa-twitter"></i></a></li>
              <li><a href="javascript:void(0)"><i class="fa-solid fa-phone"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End Single Team -->
      </div>
      <!-- Add more team members as needed -->

      <div class="col-lg-3 col-md-6 col-12">
        <!-- Start Single Team -->
        <div class="team-member">
          <div class="team-image">
            <img src="https://ca.slack-edge.com/T02NE0241-U069J73S9LJ-11426ae35f53-192" alt="#">
          </div>
          <div class="content">
            <h4>Zaid Dakir <span>Founder</span></h4>
            <ul class="social">
               <li><a href="javascript:void(0)"><i class="fa-brands fa-linkedin"></i></i></a></li>
              <li><a href="javascript:void(0)"><i class="fa-brands fa-github"></i></a></li>
              <li><a href="javascript:void(0)"><i class="fa-brands fa-twitter"></i></i></a></li>
              <li><a href="javascript:void(0)"><i class="fa-solid fa-phone"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End Single Team -->
      </div>
      <!-- Add more team members as needed -->
    </div>
  </div>
  <!-- End Team Section -->

<div class="partners-section">
  <h2><strong>Our partners</strong></h2>
  <div class="partner">
<img height="43" width="163" alt="Le Wagon" class="img-fluid" src="https://www.lewagon.com/assets/v4/logo-lewagon-9c19fb39a748cd3b1f49059ce0dc6c0dfc4cc2447d5a9a3e01bd2d5a214faf3c.svg">    <p>Le Wagon is a coding training school that teaches you how to code and change careers or launch your own start-up.</p>
  </div>
  <div class="partner">
    <img src="https://jobintech.academy/wp-content/uploads/2023/05/cropped-Untitled-design-1-1.png" alt="Logo JobInTech">
    <p>JobInTech is an initiative aimed at creating a large pool of qualified IT professionals ready for employment.</p>
  </div>
</div>
