<div class="banner">
</div>

<div class="container">
  <h1 class="solgan">“Your Artisan Haven for <br>Inspired Living”</h1>
  <p class="text">For two weeks, Baz'Art t has been creating authentic, contemporary and timeless furniture from solid wood and natural materials. With outstanding craftsmanship at the core of the brand, our Morrocan-based company believes in creating quality wooden furniture that lasts for generations and withstands trends. Discover our iconic solid wood dining tables, dining chairs in solid wood, sideboards, textile accessories collection and much more.</p>
</div>
