<div>
<div class="banner">

</div>

<div class="container justify-content-center">
  <h1 class="solgan">“Your Artisan Haven for <br>Inspired Living”</h1>
  <p class="text">For two weeks, Baz'Art t has been creating authentic, contemporary and timeless furniture from solid wood and natural materials. With outstanding craftsmanship at the core of the brand, our Morrocan-based company believes in creating quality wooden furniture that lasts for generations and withstands trends. Discover our iconic solid wood dining tables, dining chairs in solid wood, sideboards, textile accessories collection and much more.</p>

  <div style="margin-top: 0.5rem; margin-bottom: 4rem; text-align: center; padding-right: 4vw; padding-left: 4vw;"><a class="homepage-discover-more-btn" href="/about"><button style="border: 1px; border-radius: 8px; border-style: solid; background-color: white; border-color: black; padding: 6px 20px; text-decoration: none; display: inline-block; font-weight: 300; font-size: 14px; margin: 4px 2px; cursor: pointer; color: black;">Discover more</button></a></div>

</div>
<div id="collection-cards" class="d-flex justify-content-center ">
    <% @collections.each do |collection| %>
    <%= link_to products_path(collection: collection) do %>
          <div class="card m-4">
            <div class="image-box">
              <img src="https://api.cy0e40h2m3-ethnicraf1-p1-public.model-t.cc.commerce.ondemand.com/medias/Bok-chair-solid-oak-Ethnicraft.jpg?context=bWFzdGVyfGltYWdlc3wyOTk2MTN8aW1hZ2UvanBlZ3xoMjIvaDM0Lzg5NDQxMjEzODA4OTQvQm9rX2NoYWlyX3NvbGlkX29ha19FdGhuaWNyYWZ0LmpwZ3w2MDIxMWRlNWIyMDYxZTljZWJmYjkwNzY1ZTUxOTI0MDYyMGY0YzBlYWI1Y2QxMzYxN2I0MGIzNGYzMTAxZTgw" alt="">
           <div class="content">
          <%= collection %>
          </div>
          </div>

          <% end %>
    </div>

<% end %>
</div>
<div class="container mt-5">
    <div class="eth-main-banner__square bg-wild_sand eth-main-banner__square--center">
        <h2 class="eth-main-banner__title text-on-image text-black"> Let's work together! </h2>
        <div class="text-black"> Designing a new space? Discover our offer for contract & trade professionals </div>
        <div class="container mt-3">
            <a class="eth-main-banner__link btn btn-oak" href="/hk/en/contract" target="_blank"> Contact our team </a>
        </div>
    </div>
</div>
